.modal-backdrop {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.3);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000;
}

.building-modal {
  width: 520px;

  background: white;

  border-radius: 20px;

  padding: 28px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 28px;
}

.modal-header button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 22px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.field-row {
  display: flex;
  align-items: center;
  gap: 12px;
}



.field-label {
  width: 160px;
  flex-shrink: 0;
  text-align: left;
  color: #212121;
}

.field-row input {
  height: 42px;

  border-radius: 999px;

  border: 1px solid #ccc;

  padding: 0 16px;

  flex: 1;
}

.upload-image-btn {
  width: fit-content;
  border: 1px solid #2563eb;
  color: #2563eb;
  padding: 10px 18px;
  border-radius: 999px;
  cursor: pointer;
  gap: 3px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 500;
  font-size: 16px;
}

.remove-btn {
  width: 24px;
  height: 24px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #212121;
  border: none;
  background: transparent;
}


.modal-footer {
  margin-top: 32px;

  display: flex;
  justify-content: center;
}

.save-btn {
  border: none;

  background: #1976D2;

  color: white;

  padding: 12px 24px;

  border-radius: 999px;

  cursor: pointer;
}

.floor-control {
  display: flex;
  align-items: center;
  gap: 16px;
}

.floor-control button {
  border: none;
  background: none;

  cursor: pointer;

  font-size: 20px;
  font-weight: 600;

  padding: 0;
}

.floor-control span {
  min-width: 24px;

  text-align: center;

  font-size: 18px;
  font-weight: 600;
}