.room-card {
  position: absolute;
  top: 80px;
  right: 0;

  width: 720px;
  height: 100vh;

  background: #ffffff;
  box-shadow: -4px 0 20px rgba(0, 0, 0, 0.08);

  display: flex;
  flex-direction: column;

  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;

  z-index: 1000;
  font-family: "Inter";

  overflow: hidden;
}

/* ===== HEADER ===== */
.room-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 20px 12px;
  border-bottom: 1px solid #eef2f6;
}

.room-card-header h2 {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  color: #1a1f36;
}

/* ===== ACTION BUTTONS ===== */
.room-actions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.icon-btn {
  width: 14px;
  height: 14px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background: transparent;
  cursor: pointer;
}

.icon-btn img {
  width: 16px;
  height: 11px;
}

/* ===== TABS ===== */
.room-tabs {
  padding: 12px 20px;
  border-bottom: 1px solid #eef2f6;
}

.room-tabs-inner {
  display: flex;
  background: #e0e0e0;
  border-radius: 999px;
  padding: 4px;
  gap: 4px;
}

.tab {
  flex: 1;
  padding: 8px 12px;
  border: none;
  border-radius: 999px;
  background: transparent;

  font-size: 13px;
  color: #5b6e8c;
  cursor: pointer;
}

.tab.active {
  background: #1976d2;
  color: #fff;
}

/* ===== INFO ===== */
.room-info {
  padding: 16px 20px;
}

.room-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 8px 0;
  font-size: 16px;
  color: #757575;
}

.custom-select {
    position: relative;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

.selected {
    padding: 14px 10px;
    border-radius: 8px;
    background-color: #fff;
    color: #1a1f36;
    cursor: pointer;
    min-width: 220px;
    text-align: right; 
}

.dropdown {
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #d0d7de;
    border-radius: 25px;
    z-index: 100;
}

.option {
    display: flex;         
    align-items: center;
    padding: 8px 10px;
    cursor: pointer;
    white-space: nowrap;
    color: #212121;
}

.option:hover {
    background-color: #D1D1D1;
}
.option:first-child:hover {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.option:last-child:hover {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

/* ===== EQUIPMENT ===== */
.room-equipment {
  padding: 16px 20px;
}

.equipment-header {
  font-size: 16px;
  margin-bottom: 10px;
  color: #757575;
  text-align: left;
  display: flex;
  align-items: center;
}

.equipment-actions {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 8px;
}

.edit-btn {
    display: flex;
    align-items: center;
    gap: 6px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
}

.edit-btn img{
  width: 15px;
  height: 15px;
}

/* обёртка таблицы */
.table-wrapper {
  width: 100%;
  border: 1.5px solid #d1d1d1;
  border-radius: 12px;
  overflow: hidden;
}

/* ===== TABLE ===== */
.equipment-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.equipment-table th,
.equipment-table td {
  padding: 8px 10px;
  font-size: 13px;
  color: #1a1f36;
  text-align: left;

  border-bottom: 1px solid #d1d1d1;
  border-right: 1px solid #d1d1d1;
}

/* равные колонки */
.equipment-table th,
.equipment-table td {
  width: 50%;
}

.equipment-table th:last-child,
.equipment-table td:last-child {
  border-right: none;
}

.equipment-table tbody tr:last-child td {
  border-bottom: none;
}

.equipment-table tbody tr:hover {
  background: #f8fafd;
}

.equipment-modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    padding: 20px;
}

/* =========================
   MODAL WINDOW
========================= */

.modal-content {
    width: 100%;
    max-width: 1100px;
    max-height: 90vh;

    background: #fff;
    border-radius: 16px;

    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    overflow: auto;
    overflow-x: hidden;

    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.25);
}

/* ===== MEDIA ===== */
.room-media {
  padding: 0 20px 16px 20px;
}

/* header: заголовок + кнопки в одну линию */
.media-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* слово "Мультимедиа" слева */
.media-title {
  font-size: 16px;
  color: #757575;
}

/* кнопки справа */
.media-actions {
  display: flex;
  gap: 8px;
}

/* кнопки как текст */
.media-actions button {
  background: transparent;
  border: none;
  padding: 0;

  font-size: 16px;
  font-weight: 500;

  color: #212121;
  cursor: pointer;
  text-decoration: none;
  outline: none;

  transition: color 0.2s ease;
}

.media-actions button:focus,
.media-actions button:active {
  outline: none;
  text-decoration: none;
}

/* изображения */
.media-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}


.media-big:hover {
  transform: scale(1.01);
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.panorama-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.media-big {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  cursor: pointer;
}

.image-overlay {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.9);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 99999;
}

.fullscreen-img {
  max-width: 92vw;
  max-height: 92vh;

  object-fit: contain;

  border-radius: 12px;

  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.6);

  cursor: zoom-out;
}

.room-number-input {
    width: 140px;
    padding: 6px 10px;
    font-size: 24px;
    font-weight: 600;
    border: 1px solid #d1d5db;
    border-radius: 6px;
}

.media-item {
    position: relative;
}

.delete-media-btn {
    position: absolute;
    bottom: 8px;
    right: 8px;

    width: 32px;
    height: 32px;

    border: none;
    border-radius: 50%;

    background-color: rgba(0, 0, 0, 0.6);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
     z-index: 10;
}

.delete-media-btn img {
    width: 16px;
    height: 16px;
    filter: brightness(0) invert(1);
}