/* страница */
.plan-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F8F9FA;
}

/* центральная область */
.plan-content {
  flex: 1;
  background: #F8F9FA;
}

.plan-content.list {
  display: block;
}

.plan-content.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.plan-content.editor {
  display: flex;
  align-items: center;
  justify-content: center;
}

.plan-title {
  font-size: 14px;
  text-align: center;
  border-top: 1px solid #eee;
  color: #000000;
  margin: 0;
  background-color: #FFFFFF;
  
}

/* если нет схемы */
.empty-text {
  color: #64748b;
  font-size: 22px;
}

/* контейнер плана */
.plan-container {
  position: relative;
  width: 100%;
  max-width: 1500px;
  aspect-ratio: 16/9;
  margin: 0 auto;
}

/* изображение */
.plan-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.viewer-title{
  color: #000000;
  font-size: 20px;
}


/* модалка */
.modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  padding: 10px;
  border: 1px solid #ccc;
  z-index: 10;
  border-radius: 6px;
}

/* нижняя панель */
.plan-footer {
  padding: 15px;
  display: flex;
  justify-content: center;
  background: white;
  border-top: 1px solid #ddd;
}

