.plan-layout {
  flex: 1;
  display: flex;
  position: relative;
}


/* сам план */
.plan-canvas {
  position: relative;
  width: 800px;
}

/* правая панель */
.viewer-sidebar {
  position: absolute;  
  width: 500px;
  height: 100%;
  right: 0;
  top: 0; 

  background: #EEEEEE;
  border-left: 1px solid #ddd;
  padding: 10px;
  margin: 0;

  overflow-y: auto;
  overflow-x: hidden;
}

.room:hover {
  background: rgba(0,0,0,0.3);
}

.room-card{
  font-size: 24px;
  font-weight: 400;
}

.room-card button{
  font-size: 24px;
}

.card-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-btn{
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-btn img {
  width: 18px;
  height: 18px;
  object-fit: contain;
  display: block;
}

.icons{
  display: flex;
  align-items: center;
  gap: 10px;
}

.action-btn.active {
  background: #CCCCCC;
  font-weight: 600;
}

.card-actions {
  display: flex;
}

.action-btn {
  flex: 1;
  padding: 10px;
  border: none;
  cursor: pointer;
  background: #e6e6e6;
  border-radius: 6px;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 5px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.equipment-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.equipment-table {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.table-header,
.table-row {
  display: grid;
  grid-template-columns: 70% 30%;
  width: 100%;
}

.table-row span:first-child
 {
  justify-self: start;
  text-align: left;
}

.table-row span:last-child,
.table-header span:last-child {
  justify-self: start; 
}

.table-header span,
.table-row span {
  padding: 6px 10px;
  box-sizing: border-box;
  min-width: 0;
}

.upload-block {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.upload-block input {
  padding: 6px;
}

.table-row:nth-child(even) {
  background: #f6f6f6;
}

